.buyer-home-page {
  display: flex;
  background-color: #f7f7f7;
}

.left-panel {
  flex: 0.3;
}

.mid-panel-item {
  padding: 20px;
  flex: 0.4;
  height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.mid-panel-item::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.right-panel {
  flex: 0.3;
}

.card-cart {
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  background-color: antiquewhite;
  display: flex;
}

.card-cart-image {
  flex: 0.3;
}

.card-cart-content {
  font-size: 1.2em;
  flex: 0.7;
}

.card-cart-button {
  text-decoration: none;
  border: none;
  background-color: #edafb8;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 40px;
}

.proceed-button {
  position: relative;
}

.proceed-button-act {
  position: absolute;
  text-decoration: none;
  border: none;
  top: 0;
  left: 30%;
  width: 200px;
  background-color: #f7e1d7;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 40px;
}

th {
  padding-right: 40px;
}
