.buyer-home-page {
  display: flex;
  background-color: #f7f7f7;
}

.left-panel {
  flex: 0.15;
}

.mid-panel {
  flex: 0.55;
  height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.mid-panel::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.right-panel {
  flex: 0.3;
  background-image: url("../../assets/dashboard_flower.svg");
  background-repeat: no-repeat;
  background-size: 450px;
}

.chatbot {
  position: fixed;
  bottom: 0%;
  width: 8%;
  right: 18%;
}

.card-title {
  font-size: 1.2em;
}

.card-buyer {
  width: 215px !important;
  height: 230px !important;
  border-radius: 5px;
  background-color: #f7e1d7;
  text-align: center;
  margin: 15px;
  padding: 10px;
  cursor: pointer;
}

.card-price {
  display: flex;
  padding: 0;
  width: 100%;
}

.left-panel-header {
  font-size: 1.4em;
  font-weight: bold;
}

.button-apply-filter {
  text-decoration: none;
  border: none;
  background-color: #edafb8;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 40px;
  position: absolute;
  bottom: 20px;
  left: 7%;
}

.button-apply-clear {
  text-decoration: none;
  border: none;
  background-color: #edafb8;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 40px;
  position: absolute;
  bottom: 70px;
  left: 6.5%;
}
