.buyer-home-page {
  display: flex;
  background-color: #f7f7f7;
}

.left-panel {
  flex: 0.3;
}

.mid-panel-item {
  padding: 20px;
  flex: 0.4;
  height: 90vh;
  overflow: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.mid-panel-item::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.right-panel {
  flex: 0.3;
}

.button-account {
  text-decoration: none;
  border: none;
  background-color: #edafb8;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 40px;
  position: absolute;
  bottom: 20px;
  left: 7%;
}

.button-account-amount {
  text-decoration: none;
  border: none;
  background-color: #edafb8;
  color: black;
  font-size: 1.2em;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  cursor: pointer;
}
